<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>{% block title %} confirmation of email {% endblock %}</title>
</head>
<body>
{% block content %}

<div class="alert alert-primary" role="alert">
    {% if messages %}
        {% for message in messages %}
            <p class="text-center">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <a href="{% url 'blog:post_list' %}" type="button" class="btn btn-light">Go to our site.</a>
</div>
{% endblock  %}
</body>
</html>